// // Main colors

// // Dark Theme
// $background-color:
// $font-color:
// $hover-color:

// // Light Theme
// $background-color:
// $font-color:
// $hover-color:

// // Icons hover Color
$js-color: #F0D91D;
$html-color:#E44D26;
$css-color: #009CDE;
$github-color: #1F1E1E;
$sass-color:#C76495;
$linkedin-color: #005E8E;
$dark-color: #171717